h1{
    background-color: aqua;
    color: red;
}

h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: underline;
}

h3{ 
    background-color: hotpink;
    color: lightskyblue;
    text-align: center;
}